{"name":"Boclar","slug":"booking-app-business","version":"1.0.0","orientation":"portrait","icon":"./src/assets/brand/icon.png","userInterfaceStyle":"light","splash":{"image":"./src/assets/brand/splash.png","resizeMode":"contain","backgroundColor":"#ffffff"},"assetBundlePatterns":["**/*"],"ios":{"supportsTablet":true,"bundleIdentifier":"com.boclar.bookingappbusiness"},"android":{"adaptiveIcon":{"foregroundImage":"./src/assets/brand/adaptive-icon.png","backgroundColor":"#ffffff"},"package":"com.boclar.bookingappbusiness"},"web":{"bundler":"metro","favicon":"./src/assets/brand/favicon.png"},"plugins":["expo-font",["expo-router",{"root":"./src/app"}],"expo-localization"],"experiments":{"typedRoutes":true},"scheme":"boclar","description":"This project consists of reusable components that can be used in any React Native application.","sdkVersion":"51.0.0","platforms":["ios","android","web"],"extra":{"router":{"origin":false,"root":"./src/app"}}}